
@{
    ViewBag.Title = "HomeBackOffice";
}

<h2>Administrador</h2>

<a href="@Url.Action("VerPersonajes", "Home")"> Ver personajes </a> <br />
<a href="@Url.Action("VerCategorias", "Home")"> Ver categorias </a> <br />
<a href="@Url.Action("VerPreguntas", "Home")"> Ver preguntas </a> <br />
<a href="@Url.Action("VerUsuarios", "Home")"> Ver usuarios </a> <br />
<a href="@Url.Action("VerRanking", "Home")"> Ver ranking </a>