
@{


    ViewBag.Title = "Home Page";
}
<style>
    .QEQ {
        text-align: center;
        font-size: 80px;
        text-shadow: 5px 4px black;
        color: blue;
        font-family: 'Adobe Hebrew';
    }

    #Boton a {
        padding: 5px;
        font-family: 'Gill Sans MT';
        background-color: #FFD4FD;
    }
</style>


<h2 class="QEQ">QUIEN ES QUIEN</h2>

<h6 id="Boton">@Html.ActionLink("Registrarse", "EditarRegistrar", "Home", new { Accion = "Registrar", NombreUsuario = "" }, null)</h6>
<br />
@{ if (Session["NombreUsuario"] != null)
    {

        <h6 id="Boton">@Html.ActionLink("Editar", "EditarRegistrar", "Home", new { Accion = "Editar", NombreUsuario = (Session["NombreUsuario"] != null ? Session["NombreUsuario"] : "") }, null)</h6>
        <br />
    }
}

<h6 id="Boton">@Html.ActionLink("About", "About", "Home", new { Accion = "About" }, null)</h6>
<br />

<h6 id="Boton">@Html.ActionLink("Instrucciones", "Instrucciones", "Home", new { Accion = "Inst" }, null)</h6>
<br />
<h6 id="Boton">@Html.ActionLink("Iniciar juego como invitado", "Index", "Game", new { Accion = "vas a jugar como invitado" }, null)</h6><br />
@{ if (Session["NombreUsuario"] != null)
        {
        <h6 id="Boton">@Html.ActionLink("Iniciar Juego", "Index", "Game", new { Accion = "vas a jugar como " + Session["NombreUsuario"]  }, null)</h6><br />
        }
    }
