@using QEQ.Models
@model Usuarios

@{
    ViewBag.Title = "LoginUs";
}

<h2>Iniciar Sesión</h2>

@using (Html.BeginForm("LoginUs2", "Home", FormMethod.Post))
{
    if (ViewBag.UsIncorrecto!=null)
    {
        <h1>@ViewBag.UsIncorrecto</h1>
    }
    
    <p>Nombre usuario</p> @Html.TextBoxFor(x => x.NombUsuario) @Html.ValidationMessageFor(x => x.NombUsuario) <br /> <br />
    <p>Contraseña</p> @Html.PasswordFor(x => x.Contraseña) @Html.ValidationMessageFor(x => x.Contraseña) <br /> <br />
    <input type="submit" value="Aceptar" />
}


